// Body
$body-bg: #ffff;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: rgb(255, 255, 255);

// Buttons
$btn-default-color: $text-color;

// Panels
$panel-default-heading-bg: rgb(0, 0, 0);

$app-bg-color: #35c06a;
